<div class="content">


    <div class="container-fluid">
    {% if title =='CONTACTEZ-NOUS' %}
    pppp
    {% else %}
        {{ content|raw }}
    {% endif %}    
    </div>

    {% if more|default([])|length > 0 %}
        <div class="content-more" data-aos="fade-up" data-aos-duration="600">
            <div class="row justify-content-center">
                {% for other in more|default([]) %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="zoom-hover">
                            <div class="content-more-item box-offset">
                                <div class="content-more-item-thumbnail">
                                    {% if other.video|default(null) %}
                                        <div class="list-items-item-video"
                                             style="background-image: url('https://i1.ytimg.com/vi/{{ other.video[1] }}/hqdefault.jpg')">
                                            <div class="list-items-item-video-icon"
                                                 style="background: url('{{ play_icon }}') 50% 50% no-repeat transparent">
                                                <div class="list-items-item-video-inner" style="width: 1110px; height: 705px"></div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <img src="{{ other.image|default(default_list_image) }}"
                                             class="list-items-item-image" width="1700" height="1080" />
                                    {% endif %}
                                </div>

                                <a href="{{ other.url }}" class="stretched-link list-items-item-link" data-turbo="optional">
                                    <h5 class="list-items-item-title">
                                        <span>{{ other.title }}</span>
                                    </h5>
                                </a>

                                {% if other.date|default(null) %}
                                    <div class="list-items-item-date">
                                        {{ other.date }}
                                    </div>
                                {% endif %}

                                <div class="list-items-item-description">
                                    {{ other.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
